/* About Section */

.about.section {
  padding: 60px 0;
  color: #fff;
  background-color: #1b1b1b;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00c6ff;
  text-align: center;
}

.section-title .subtitle {
  text-align: center;
  max-width: 700px;
  margin: auto;
  font-size: 1rem;
  color: #ccc;
  line-height: 1.7;
}

.about-content {
  margin-top: 40px;
}

.about .content h2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.about .content p {
  margin-top: 10px;
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
}

.about .img-fluid {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 198, 255, 0.3);
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding: 8px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #ddd;
}

.about ul li i {
  color: #00c6ff;
  margin-right: 10px;
}

.about ul li a {
  color: #00c6ff;
  text-decoration: none;
}

.about .why-work h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #00c6ff;
}

@media (max-width: 768px) {
  .about .content h2 {
    text-align: center;
  }

  .about .row {
    flex-direction: column;
    text-align: center;
  }

  .about .img-fluid {
    margin-bottom: 20px;
  }

  .about ul {
    text-align: left;
  }
}
